@import 'color-functions';

/*
  Base Lightness
*/
:root {
  --lightness-surface: 85%;
  --lightness-text: 20%;
  --lightness-emphasis: 10%;
}

:root {
  font-size: 20px;
  color: cssVar(('color', 'surface', 'neutral'), hsl(50, 50%, 50%));
  @each $color in $colors {
    $adjustOffset: -5%;
    @each $intensity in $intensities {
      $adjustOffset: $adjustOffset + 5%;
      @include hslColor(surface, $color, $intensity, $adjustOffset);
      @include hslColor(text, $color, $intensity, $adjustOffset);
      @include hslColor(emphasis, $color, $intensity, $adjustOffset);
    }
  }
}
